# =========================
# BUILD
# =========================
target/
*.class
*.jar
*.war
*.ear

# =========================
# DATABASE
# =========================
bd.sqlite
bd.sqlite-journal

# =========================
# ENV
# =========================
.env

# =========================
# IDEs
# =========================

# VS Code
.vscode/

# IntelliJ
.idea/
*.iml

# Eclipse / STS
.project
.classpath
.settings/
.springBeans
.sts4-cache

# =========================
# OS
# =========================
.DS_Store
Thumbs.db

# =========================
# LOGS
# =========================
*.log